In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder_geo=OneHotEncoder()
country_encoded=onehotencoder_geo.fit_transform(data[['Geography']])
country_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [6]:
onehotencoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [7]:
onehotencoder_geo_df=pd.DataFrame(country_encoded.toarray(),columns=onehotencoder_geo.get_feature_names_out(['Geography']))
onehotencoder_geo_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
data = pd.concat([data.drop('Geography',axis=1),onehotencoder_geo_df], axis=1)
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,2,15647311,Hill,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,3,15619304,Onio,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,4,15701354,Boni,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,5,15737888,Mitchell,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehotencoder_geo.pkl','wb') as file:
    pickle.dump(onehotencoder_geo, file)

In [10]:
data = pd.get_dummies(data, drop_first=True)

X = data.drop('Exited', axis=1)
y = data['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
X_train

array([[ 1.4692775 , -1.24645641,  0.35649971, ..., -0.01118104,
        -0.01118104,  0.        ],
       [-1.19499359,  1.05381124, -0.20389777, ..., -0.01118104,
        -0.01118104,  0.        ],
       [-1.15724427,  0.3664786 , -0.96147213, ..., -0.01118104,
        -0.01118104,  0.        ],
       ...,
       [ 0.13108128, -1.6259648 ,  0.86500853, ..., -0.01118104,
        -0.01118104,  0.        ],
       [-1.43776677,  1.62852321,  0.15932282, ..., -0.01118104,
        -0.01118104,  0.        ],
       [ 0.78217054,  0.21718071,  0.47065475, ..., -0.01118104,
        -0.01118104,  0.        ]])

In [12]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

In [13]:
data

,RowNumber,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,...,Surname_Zinachukwudi,Surname_Zito,Surname_Zotov,Surname_Zotova,Surname_Zox,Surname_Zubarev,Surname_Zubareva,Surname_Zuev,Surname_Zuyev,Surname_Zuyeva
0,1,15634602,619,0,42,2,0.00,1,1,1,...,False,False,False,False,False,False,False,False,False,False
1,2,15647311,608,0,41,1,83807.86,1,0,1,...,False,False,False,False,False,False,False,False,False,False
2,3,15619304,502,0,42,8,159660.80,3,1,0,...,False,False,False,False,False,False,False,False,False,False
3,4,15701354,699,0,39,1,0.00,2,0,0,...,False,False,False,False,False,False,False,False,False,False
4,5,15737888,850,0,43,2,125510.82,1,1,1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,771,1,39,5,0.00,2,1,0,...,False,False,False,False,False,False,False,False,False,False
9996,9997,15569892,516,1,35,10,57369.61,1,1,1,...,False,False,False,False,False,False,False,False,False,False
9997,9998,15584532,709,0,36,7,0.00,1,0,1,...,False,False,False,False,False,False,False,False,False,False
9998,9999,15682355,772,1,42,3,75075.31,2,1,0,...,False,False,False,False,False,False,False,False,False,False
9999,10000,15628319,792,0,28,4,130142.79,1,1,0,...,False,False,False,False,False,False,False,False,False,False

### ANN IMPLEMENTATION

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From d:\LLM\ANN-RNN\ANN-RNN\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [15]:
X_train.shape[1]

2945

In [16]:
model= Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
        Dense(32, activation='relu'),
        Dense(1, activation='sigmoid')
    ]
)

WARNING:tensorflow:From d:\LLM\ANN-RNN\ANN-RNN\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [17]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                188544

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 190657 (744.75 KB)
Trainable params: 190657 (744.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
import tensorflow 
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [19]:
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [20]:
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callbacks = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [ ]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [23]:
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callbacks, early_stopping]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4044 - accuracy: 0.8150 - val_loss: 0.6509 - val_accuracy: 0.7830
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3421 - accuracy: 0.8374 - val_loss: 0.6601 - val_accuracy: 0.7990
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3169 - accuracy: 0.8495 - val_loss: 0.6425 - val_accuracy: 0.7930
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2971 - accuracy: 0.8590 - val_loss: 0.7888 - val_accuracy: 0.7920
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2866 - accuracy: 0.8602 - val_loss: 0.9646 - val_accuracy: 0.7990
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2739 - accuracy: 0.8658 - val_loss: 0.7681 - val_accuracy: 0.7930
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2640 - accuracy: 0.8700 - val_loss: 0.8511 - val_accuracy: 0.7910
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2548 - accuracy: 0.8719 - val_loss: 0.9756 - val_accuracy: 0.7965

In [24]:
model.save('ann_model.h5')

d:\LLM\ANN-RNN\ANN-RNN\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [25]:
%load_ext tensorboard

In [28]:
%tensorboard --logdir logs/fit/20251220-195555